*{
    padding: 0;
    margin: 0;
}
.background{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url("https://images.chesscomfiles.com/chess-themes/backgrounds/originals/large/walnut.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    
}
.board{
    width: 689px;
    height: 686px;
    display: grid;
    grid-template-columns: repeat(8, 86px);
    grid-template-rows: repeat(8, 86px);
    box-shadow: 10px 10px 5px black;
  
}
.cell{
    width: 85px;
    height: 85px;
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.figure{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.figure:hover{
    cursor: pointer;
}
.move{
    width: 85px;
    height: 85px;
    
}
.danger{
    width: 85px;
    height: 85px;

}
@media screen and (max-width: 767px) {
    .board{
        width: 360px;
        height: 360px;
        display: grid;
        grid-template-columns: repeat(8, 45px);
        grid-template-rows: repeat(8, 45px);
        box-shadow: 10px 10px 5px black;
    }
    .cell{
        width: 45px;
        height: 45px;
    }
    .move{
        width: 45px;
        height: 45px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
    }
    .danger{
        width: 45px;
        height: 45px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
    }
}